/* @import url('https://fonts.googleapis.com/css2?family=Athiti:wght@400;600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;500&display=swap');
:root {
  --custom-blue: #27397c;
  --custom-blue-hover: #4466ad;
  --custom-light-blue: #c7d2ec;
}

body {
  font-family: 'Kanit', sans-serif !important;
  font-weight: 300 !important;
  background-color: #e7e7e7 !important;
}
h1,h2,h3,h4 {
  font-weight: 500 !important;
}

.container-body {
  max-width: 1600px;
  margin: 30px auto
}
header {
  background-color: white;
}
.navigate-bar {
  background-color: var(--custom-blue);
}
.navigate-bar-body {
  padding: 12px 20px;
  margin: 0 auto;
  color: white;
  max-width: 1200px;
}
.navigate-bar p {
  margin: 0;
}
.title-bar {
  margin-bottom: 25px;
}
.header-bar {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 20px;
}
.header-bar .logo{
  margin-right: 30px;
}
.header-bar .logo img{
  height: 2.5rem;
}
.header-bar .logo img.logo-mini{
  display: none;
}
.header-bar button.btn-filter {
  display: none;
  color: var(--custom-blue);
}
.header-bar button.btn-filter:focus,
.header-bar button.btn-filter:hover {
  color: var(--custom-blue-hover);
  box-shadow: none;
}
@media only screen and (max-width: 768px) {
  .header-bar .logo img.logo-full{
    display: none;
  }
  .header-bar .logo img.logo-mini{
    display: inline;
  }
  .header-bar button.btn-filter {
    display: inline;
  }
}
button.btn-toggle-close,
button.btn-toggle-close:focus,
button.btn-toggle-close:hover{
  padding: 0;
  box-shadow: none;
}

.search-bar {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
}
.search-bar select {
  height: 100%;  
  width: 200px;
  border-radius: 0;
  border-bottom-left-radius: 8px;  
  border-top-left-radius: 8px;
  border-right: none;
}
.search-bar input[type="text"] {
  border-radius: 0;
  border-left: none;
  border-right: none;
  height: 100%;  
  width: 100%;
  font-weight: 300 !important;
}
.search-bar input[type="text"]:focus, 
.search-bar button:focus,
.search-bar select:focus {
  border-color:#ced4da;
  box-shadow: none;
}
.search-bar button {
  width: 40px;
  border-radius: 0;
  border-bottom-right-radius: 8px;  
  border-top-right-radius: 8px;
  border: 1px solid #ced4da;
  border-left: none;
}
@media only screen and (max-width: 768px) {
  .search-bar select {
    display: none !important; 
  }
  .search-bar input[type="text"] {
    border-radius: 0;
    border-bottom-left-radius: 8px;  
    border-top-left-radius: 8px;
    border-left: 1px solid #ced4da;
  }
}

.merchant {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border: 1px solid var(--custom-light-blue);
  border-radius: 5px;
  margin: 0 0 25px;
}
.merchant .body {
  padding: 20px 25px;
}
.merchant .body .badge {
  font-size: 55% !important;
  font-weight: 400;
}
.merchant .body .details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 0 45px;
}
.merchant .body .price-level {
  color: #a7a7a7;
}
.merchant .body .price-level i {
  font-style: normal;
  color: #000000;
}
.merchant .body .facility-icon {
  --icon-color: var(--green);
  display: inline-block;
  padding: 6px 0;
  width: 40px;
  height: 40px;
  text-align: center;
  margin-right: 10px;
  color: var(--green);
  border: 1px solid var(--green);
  border-radius: 50%;
}
.merchant .img {
  width: 300px;
  height: 300px;
  margin: 5px;
  background-color: var(--light-blue);
  border-radius: 5px;
}
.merchant .img img {
  width: 300px;
  height: 300px;
  object-fit:cover;
  border-radius: 5px;
}
@media only screen and (max-width: 1020px) {
  .merchant {
    flex-direction: column;
  }
  .merchant .img {
    width: 100%;
    margin: 0;
  }
  .merchant .img img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
  }
}

.filter-panel {
  margin-bottom: 25px;
}
@media only screen and (max-width: 768px) {
  .filter-panel-hiddden {
    display: none;
  }
}
.filter {
  margin: 0 0 25px
}
.filter label.filter-name{
  font-weight: 500;
}
.filter .filter-radio{
  margin: 0 0 5px;
}
select {
  font-family: 'FontAwesome', 'Kanit', 'san-serif' !important;
  font-weight: 300 !important;
}
option {
  font-weight: 300 !important;
}
.footer-bar {
  background-color: var(--custom-blue);
  margin-top: 25px;
}
.footer-bar-body {
  padding: 25px 20px;
  margin: 0 auto;
  color: white;
  max-width: 1200px;
}
.footer-bar p {
  margin: 0;
}